Library/
Logs/
Temp/
UserSettings/
Obj/
.DS_Store
*.keystore
*.jks
Assets/.DS_Store
Assets/Resources.meta
Assets/Resources/
Assets/Resources/PerformanceTestRunInfo.json
Assets/Resources/PerformanceTestRunSettings.json
